<!DOCTYPE html>

<html>
	<head>
	</head>

	<body>
		<h1>Quiz el  juego de las preguntas </h1>

     <form method="get" action="/quizes/answer">

      Pregunta:<%= pregunta %>
      <input type="text" name="respuesta" required />
      <input type="submit" value="Enviar" />
     </form>
     <a href="/">Inicio</a>

	</body>
</html>